<html>
    <head>
        <title>Strava API App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='/js/callscript.js'> </script>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
        <script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
        <h1> Strava API App</h1>         
        <p id="change">Welcome</p>
        <div id='contmap'style="width: 300px; height: 300px; margin: 0 auto;"></div>
        <form id="myForm">
          <select id="selectNumber">
            <option>Select run from the list:</option>
          </select>
        </form>
      <p id="savedruns"></p>
      <script>loadcall();</script>
      <p id="results"></p>
      <p id="dataprintbtn"></p>
    </body>
</html>